main, body, #num-participants-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #F7FDFF;
    padding: 40px
  }

main{
    background-color:#DEFFE1;
    padding: 10px;
    border: 1px solid #f5f6f7;
    border-radius: 15px;
    box-shadow: 10px 10px 0px 0px rgba(223, 220, 220, 0.75);
    width: 260px
}
  

#num-participants-page {
    padding: 10px; /* Add padding around all child elements, not to each one */
}

#num-participants-page > label, 
#num-participants-page > input {
    display: block; /* Make each element take its own line */
    width: calc(100% - 20px); /* Subtract the left and right padding from the total width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin-bottom: 20px; /* Add more space between the input and the button */
}

#num-participants-page > button {
    display: block; /* Make the button take its own line */
    width: 50%; /* Make the button less wide, for example 50% of the container width */
    box-sizing: border-box; /* Include padding and border in the button's total width and height */
    margin: 0 auto; /* Center the button in the container */
}

#participants-names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
#participants-names > label, 
#participants-names > input {
    display: block; /* Make each element take its own line */
    width: calc(100% - 20px); /* Subtract the left and right padding from the total width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin-bottom: 20px; /* Add more space between the input and the button */
}

.hide{
    display: none;
}

#form-button{
    margin-top: 40px;
    margin-bottom: 20px;
}